body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
}

.topNav{
    text-align: center;
    padding: 1vw;
    background-color: black;
}

.butonat {
    display: inline-block;
    float: right;
    margin-top: 18px;
    font-family: 'Manrope', sans-serif;
}

.btn-login {
    margin-top: 15px;
    margin-right: 5px;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 15px;
}

.btn-login:hover{
    background-color: white;
    color: black;
}

.btn-sub:hover{
    background-color: white;
    color: black;
}

.btn-sub {
    position: relative;
    margin-top: 15px;
    margin-right: 5px;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 15px;
}

/* .btn-login{

    background-color: black;
    color: white;
    float:right;
    padding: 10px 25px;
    margin: auto;
    margin-left: 500px;
    border-radius: 15px;
}

.btn-sub {
    background-color: black;
    color: white;
    float:right;
    padding: 10px 25px;
    border-radius: 15px;
} */

#right{
    position: absolute;
    right: 5%;
}

.navBar{
width: 100%;
background-color: white;
box-shadow: 1px 1px 8px  gray;
font-size: 1vw;
font-family: Gidole;
}

#headerLogo{
    width: 12vw;
    margin-left: 220px;
}

.nav{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    border: 1px solid lightgray;
    font-size: .8vw;
    height: 2.5vw;
    line-height: 2.5vw;
}

/* #butonat {
    cursor: pointer;
    background: red;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 30px;
    border-radius: 25px;
}

.btn-login {
    po
} */

 .post-slider {
     position: relative;
 }

 
 .post-slider .next {
    position: absolute;
    top: 50%;
    right: 150px;
    font-size: 2em;
    color: black;
    cursor: pointer;
 }

 .post-slider .prev {
    position: absolute;
    top: 50%;
    left: 150px;
    font-size: 2em;
    color: black;
    cursor: pointer; */
 }


 .page-wrapper a:hover {
        color: rgb(80, 80, 80);
 }

 .post-slider .slider-title {
     text-align: center;
     margin: 30px auto;
     font-family: 'Manrope', sans-serif;
 }




.post-slider .post-wrapper {
    width: 60%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;

}

.post-slider .post-wrapper .post {
    height: 350px;
    width: 300px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-radius: 10px;
    box-shadow: 1rem 1rem 1rem -1rem rgb(192, 192, 192);
    position: relative;
    transition: all .1s ease-in-out;
}

.post-slider .post-wrapper .post:hover {
    border-radius: 10px;
    transform: translate(0,-3px);
}



.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 5px;
}

h4 {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    color: black;
    margin: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}


.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* contenti */

.content {
    width: 60%;
    margin: 30px auto 30px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.btn {
    padding: .5rem;
    background: black;
    color: white;
    border: 1px solid transparent;
    border-radius: 15px;
    font-family: 'Manrope', sans-serif;
}

.btn:hover{
    color: black;
    background: black;
}

.content .main-content {
    width: 67%;
    float: left;
}

.content .sidebar {
    width: 33%;
    float: left;
}

.content .main-content .post .post-image {
    width: 45%;
    height: 100%;
    float: left;

}

.content .main-content .post {
    width: 95%;
    height: 240px;
    margin: 20px auto;
    border-radius: 10px;
    background: white;
    position: relative;
    font-family: 'Manrope', sans-serif;
    box-shadow: 1rem 1rem 1rem -1rem rgb(192, 192, 192);
    transition: all .1s ease-in-out;
    
}

.content .main-content .post:hover {
    transform: translate(0,-3px);
}

.content .main-content .post .post-preview {
    width: 45%;
    /* padding: 15px; */
    float: right;
}

.content .main-content .recent-post-title {
    margin: 20px;
    font-family: 'Manrope', sans-serif;
}

.content .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.post .post-info .fa-user {
    margin-top: 15px;
}

.main-content .post .post-image {
    border-radius: 10px;
}


.content .sidebar .section {
    width: 300px;
    height: 760px;
    margin: 0px 5px auto;
    border-radius: 10px;
    background: white;
    position: relative;
    font-family: 'Manrope', sans-serif;
}

.content .sidebar .section .post {
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(192, 192, 192);
    margin-bottom: 17px;
    transition: all .1s ease-in-out;
}

.content .sidebar .section .post:hover {
    transform: translate(0,-3px);
}



.content .sidebar .section .post .post-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    float: right;
}

.content .sidebar .section .post .post-info{
    padding: 10px;
}


/* NAV BAR GREY EFECT */

#first{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#second{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#third{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#fourth{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#fifth{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#first{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#first:hover{
    color: white;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}

#second:hover{
    color: black;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}

#third:hover{
    color: black;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}

#fourth:hover{
    color: black;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}

#fifth:hover{
    color: black;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}


#first:active{
    background-color: black;
}

#second:active{
    background-color: black;
}

#third:active{
    background-color: black;
}

#fourth:active{
    background-color: black;
}

#fifth:active{
    background-color: black;
}

.footer{
    box-shadow: 0 0 8px gray;
    height: 15vw;
    width: 100%;
    text-align: center;
    font-family: gidole;
    position: relative;
    background-color: black;
}

.footerContent{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    font-size: .7vw;
  
}

#footerLogo{
    margin-top: 20px;
    height: 2.5vw;
    transition: all .1s ease-in-out;
}

#footerLogo:hover {
    transform: translate(0,-3px);
}

.followUs{
    margin-top: 20px;
    height: 3vw;
    margin-left: 10px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    transition: all .1s ease-in-out;
    margin-bottom: 25px;
}

.followUs:hover {
    transform: scale(1.5);
}

.copyright {
    margin-top: 30px;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
}
.copyright:hover{
    color: lightgray;
}



/* NAV BAR GREY EFECT */



/*
.content{
    width: 60%;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1vw 1vw;
    grid-template-areas: "a a b j" "c c d j" "c c f j" "g h i j";
  }
  

  


  .grid-container * { 
   box-shadow: 0 0 3px gray;
   position: relative;
   height: 12vw;
   transition: all .2s ease-in-out;
  }

  .grid-container{
      font-weight: bold;
  }

  .grid-container * p {
      box-shadow: none;
      text-transform: uppercase;
      font-weight: 400;
      
  }

    
  .grid-container *:after {
   position: absolute;
   top: 0;
   left: 0;
  }
  
  .footer{
      box-shadow: 0 0 8px gray;
      height: 10vw;
      width: 100%;
      text-align: center;
      font-family: gidole;
      position: relative;
  }

  .footerContent{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      font-size: .7vw;
    
  }

  #footerLogo{
      height: 1.5vw;
  }

  .followUs{
      height: 3vw;
      margin-left: 10px;
  }

  .grid-container * img{ 
    height: 10vw;
   }

.insideContent{
    position: absolute;
    top: 3.5vw;
    left: 50%;
    transform: translate(-50%,-2vw);
    box-shadow: none;
    font-family: Gidole;
    font-size: 1vw;
}
/* 
.insideContent p {
    font-size: .8vw;
    margin:.1vw;
    color: lightgray;
} */ 

* {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 500;
}