* {
    margin: 0;
    padding: 0;
}

body {
    background: lightgray;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}

.topNav{
    text-align: center;
    padding: 1vw;
    background-color: black;
}

.butonat {
    display: inline-block;
    float: right;
    margin-top: 18px;
    font-family: 'Manrope', sans-serif;
}

.btn-login {
    margin-top: 15px;
    margin-right: 5px;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 15px;
}

.btn-login:hover{
    background-color: white;
    color: black;
}

.btn-sub:hover{
    background-color: white;
    color: black;
}

.btn-sub {
    position: relative;
    margin-top: 15px;
    margin-right: 5px;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 15px;
}

#right{
    position: absolute;
    right: 5%;
}

.navBar{
width: 100%;
background-color: white;
box-shadow: 1px 1px 8px  gray;
font-size: 1vw;
font-family: Gidole;
}

#headerLogo{
    width: 12vw;
    margin-left: 220px;
}

.nav{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    border: 1px solid lightgray;
    font-size: .8vw;
    height: 2.5vw;
    line-height: 2.5vw;
}

a {
    text-decoration: none;
    color: inherit;
}


.btn {
    padding: .5rem;
    background: black;
    color: white;
    border: 1px solid transparent;
    border-radius: 15px;
    font-family: 'Manrope', sans-serif;
}

.btn:hover{
    color: black;
    background: black;
}


#first{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#second{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#third{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#fourth{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#fifth{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#first{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#first:hover{
    color: white;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}

#second:hover{
    color: white;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}

#third:hover{
    color: white;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}

#fourth:hover{
    color: white;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}

#fifth:hover{
    color: white;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}


#first:active{
    background-color: black;
}

#second:active{
    background-color: black;
}

#third:active{
    background-color: black;
}

#fourth:active{
    background-color: black;
}

#fifth:active{
    background-color: black;
}


/* NAVIGATION BAR DERI KETU */


.container {
    width: 60%;
    margin: 50px auto;
}

.contact-box {
    background: white;
    display: flex;

}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background-color: black;
    color: white;
}

h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 30px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: black;
}

button {
    background: black;
    color: white;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
}

.contact-left h3 {
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3 {
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
}
