body{
	margin:0;
	padding:0;
}

*{
	box-sizing: border-box;
}


.topNav{
    text-align: center;
    padding: 1vw;
    background-color: black;
}

.butonat {
    display: inline-block;
    float: right;
    margin-top: 18px;
    font-family: 'Manrope', sans-serif;
}

.btn-login {
    margin-top: 15px;
    margin-right: 5px;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 15px;
}

.btn-login:hover{
    background-color: white;
    color: black;
}

.btn-sub:hover{
    background-color: white;
    color: black;
}

.btn-sub {
    position: relative;
    margin-top: 15px;
    margin-right: 5px;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 15px;
}



#right{
    position: absolute;
    right: 5%;
}

.navBar{
	width: 100%;
    background-color: white;
    box-shadow: 1px 1px 8px  black;
    font-size: 1vw;
    position: relative;
    z-index: 10;
}

#headerLogo{
    width: 12vw;
    margin-left: 220px;
}

.nav{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    border: 1px solid lightgray;
    font-size: .8vw;
    height: 2.5vw;
    line-height: 2.5vw;
}

h4 {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    color: black;
    margin: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}



#first{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#second{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#third{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#fourth{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#fifth{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#first{
    text-decoration: none;
    color: black;
    background-color: #f3f3f3;
    border-left: 1px solid lightgray;
    
}

#first:hover{
    color: white;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}

#second:hover{
    color: white;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}

#third:hover{
    color: white;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}

#fourth:hover{
    color: white;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}

#fifth:hover{
    color: white;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 1.1vw;
}


#first:active{
    background-color: black;
}

#second:active{
    background-color: black;
}

#third:active{
    background-color: black;
}

#fourth:active{
    background-color: black;
}

#fifth:active{
    background-color: black;
}

.btn {
    padding: .5rem;
    background: black;
    color: white;
    border: 1px solid transparent;
    border-radius: 15px;
    font-family: 'Manrope', sans-serif;
}

.btn:hover{
    color: black;
    background: black;
}

h4 {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    color: black;
    margin: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}


.container{
	max-width:1140px;
	margin:auto;
	position: relative;
	min-height: 1px;
}

.team{
	min-height: 100vh;
	padding:60px 15px;
	background-color: #f6f6f6; 
	float: left;
	width: 100%;
}
.team h1{
	font-size: 36px;
	font-family: open sans;
	font-weight: 700;
	color:#ffffff;
	margin:0;
	padding-bottom:60px;
	text-align: center;
}
.team .card{
	width:25%;
	float: left;
	padding:0px 15px;
}
.team .card .box {
	padding:15px;
	background-color: black;
	border-radius:5px;
	transition: margin 0.5s ease,box-shadow 1s ease;
}
.team .card .box:hover{
	margin-top:-15px;
	box-shadow:0px 0px 40px black;
}
.team .card .box img{
	width:150px;
	display: block;
	margin:10px auto;
	border-radius:50%;

}

.team .card .box h4{
	font-size: 20px;
	font-family: open sans;
	margin:20px 0px 10px;
	color:#ea5e71;
	text-align: center;
	font-weight: 700;
}

.team .card .box h5{
	font-size:16px;
	font-family: open sans;
	font-weight: 600;
	color:#b9b9b9;
	margin:0px 0px 15px;
	text-align: center;
}
.team .card .box p{
	color:#b9b9b9;
	font-size: 15px;
	font-family: open sans;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	padding:0px 20px;
}



/*responsive*/

@media(max-width: 991px){
	.team .card{
		width:50%;
		margin-bottom:30px;
	}
}

@media(max-width:550px){
	.team .card{
		width:100%;
	}
}














